<div class="mdc-dialog__content">
    <div class="about-extension__main-container">
        <div>
            <img src="/images/icon_green_dark.svg" alt="{{i18n.alt_extIcon}}"/>
        </div>
        <div>
            <h3>{{extensionName}}</h3>
            <p>{{i18n.txt_version}} {{version}}</p>
        </div>
    </div>
    <div class="about-extension__additional-container">
        <div>
            <a
                href="{{githubUrl}}"
                class="icon-link"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="icon-github"></span>
            </a>
        </div>
        <script
            type="text/javascript"
            src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
            data-name="bmc-button"
            data-slug="devzaksid"
            data-color="#FFDD00"
            data-emoji=""
            data-font="Cookie"
            data-text="Buy me a coffee"
            data-outline-color="#000000"
            data-font-color="#000000"
            data-coffee-color="#ffffff"
        ></script>
        <a href="https://www.buymeacoffee.com/devzaksid" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 150px !important;">
        </a>
    </div>
</div>
