<div class="mdc-dialog__content">
    <div class="about-extension__main-container">
        <div>
            <img src="/images/icon_green_dark.svg" alt="{{i18n.alt_extIcon}}"/>
        </div>
        <div>
            <h3>{{extensionName}}</h3>
            <p>{{i18n.txt_version}} {{version}}</p>
        </div>
    </div>
    <div class="about-extension__additional-container">
        <a
            href="{{githubUrl}}"
            class="icon-link external-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="icon-github"></span>
        </a>
        <div>
        <a
            href="{{buyMeACoffeeUrl}}"
            class="external-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="/images/buy-me-a-coffee-default-yellow.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 150px !important;">
        </a>
        </div>
    </div>
</div>
