<!--
<button class="mdc-button mdc-button--raised" id="showAll">
    <span class="mdc-button__ripple"></span>
    <span class="mdc-button__touch"></span>
    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
    <span class="mdc-button__label">show all</span>
</button>
-->

<form id="find-bookmarks">
    <button class="mdc-button mdc-button--raised" type="submit">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__touch"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
        <span class="mdc-button__label">{{i18n.btn_findDuplicates}}</span>
    </button>
</form>

<div id="search-results" hidden>
    <!-- Mustache template with search results will be rendered here -->

    <div id="loader-wrapper">
        {{> loader }}
    </div>
</div>

<aside class="mdc-snackbar">
    <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
        <div class="mdc-snackbar__label" aria-atomic="false">
            {{i18n.bookmarksDeletedMsg}}
        </div>
    </div>
</aside>

<div class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface"
            role="alertdialog"
            aria-modal="true"
            aria-labelledby="my-dialog-title"
            aria-describedby="my-dialog-content"
        >
            <div class="mdc-dialog__title" id="my-dialog-content">
                {{i18n.bookmarksDeleteConfirmationTitle}}
            </div>
            <div class="mdc-dialog__content">{{i18n.bookmarksDeleteConfirmation}}</div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">{{i18n.btn_cancel}}</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="confirm">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">{{i18n.btn_delete}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
