/* stylelint-disable selector-class-pattern */

/* Icons font */
@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.eot?46olml");
  src: url("../fonts/icomoon.eot?46olml#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?46olml") format("truetype"),
    url("../fonts/icomoon.woff?46olml") format("woff"),
    url("../fonts/icomoon.svg?46olml#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.app_icon-icon_bw {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: xx-large;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

.app_icon-icon_bw::before {
  content: "\e901";
}

/* Override Material styles */
:root {
  --mdc-theme-primary: #376b1f;
  --mdc-theme-secondary: #55634c;
}

.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above,
.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  color: #376b1f;
}

/* Override switch track */
.mdc-switch:enabled .mdc-switch__track::after {
  background: #cce3c1;
  /* @alternate */
  background: var(--mdc-switch-selected-track-color, #cce3c1);
}

.mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after {
  background: #cce3c1;
  /* @alternate */
  background: var(--mdc-switch-selected-hover-track-color, #cce3c1);
}

.mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
  background: #cce3c1;
  /* @alternate */
  background: var(--mdc-switch-selected-focus-track-color, #cce3c1);
}

.mdc-switch:enabled:active .mdc-switch__track::after {
  background: #cce3c1;
  /* @alternate */
  background: var(--mdc-switch-selected-pressed-track-color, #cce3c1);
}

/* Override switch handle button */
.mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: #6200ee;
  /* @alternate */
  background: var(--mdc-switch-selected-handle-color, var(--mdc-theme-primary, #6200ee));
}

.mdc-switch.mdc-switch--selected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after {
  background: var(--mdc-theme-primary);
  /* @alternate */
  background: var(--mdc-switch-selected-hover-handle-color, #376b1f);
}

.mdc-switch.mdc-switch--selected:enabled:focus:not(:active) .mdc-switch__handle::after {
  background: var(--mdc-theme-primary);;
  /* @alternate */
  background: var(--mdc-switch-selected-focus-handle-color, #376b1f);
}

.mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__handle::after {
  background: var(--mdc-theme-primary);;
  /* @alternate */
  background: var(--mdc-switch-selected-pressed-handle-color, #376b1f);
}


/* Custom styles */
body {
  margin: 0;
  width: max-content;
  min-width: 560px;
}

main {
  margin: 0 8px;
}

.bookmark-card__title {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.bookmark-card__subhead {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  /* stylelint-disable-next-line number-max-precision */
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: 0.6;
}

.bookmark-card-content {
  padding: 8px 16px 0;
  margin: 8px 0;
  transition: opacity 0.3s;
}

.bookmark-card-content.removed {
  opacity: 0;
}

.duplicate-li {
  padding: 8px 0;
  transition: opacity 0.3s;
}

.duplicate-li.removed {
  opacity: 0;
}

.menu-li {
  height: 32px;
  width: auto;
  align-items: center;
}

#find-bookmarks {
  margin: 8px 0;
  padding-top: 5px;
}

#find-bookmarks > * {
  margin: 4px;
}

#find-bookmarks .mdc-text-field__input {
  width: 300px;
}

.alert {
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;

  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  transition: opacity 0.3s;
}

.alert.removed {
  opacity: 0;
}

.alert-warning {
  --bs-alert-color: #664d03;
  --bs-alert-bg: #fff3cd;
  --bs-alert-border-color: #ffecb5;
}

.about-extension__main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
}

.about-extension__additional-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.about-extension__source-img {
  width: 32px;
  height: auto;
}

#app-bar-menu-btn {
  transition: transform .3s;
}

#app-bar-menu-btn.menu-opened {
  transform: rotate(90deg);
}

#bookmarks-list {
  margin: 8px;
}

.mdc-list-item__text {
  width: 100%;
}

.setting-item {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mdc-list-item__secondary-text::before {
  height: 0;
}

.mdc-chip__action {
  border: none;
  background: none;
}

.list-item-chips .setting-item {
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
}

.mdc-chip-set__chips {
  display: flex;
  width: 90vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.mdc-menu {
  max-height: fit-content !important;
}

#reset-settings {
  margin: 1em;
}

.remove-ignored-url {
  cursor: pointer;
}

.settings-text-field {
  height: 45px;
  width: 320px;
}

.settings-button-add {
  height: 40px;
}

.settings-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0 5px;
}