<div class="mdc-dialog__content">
    <div class="about-extension__main-container">
        <div>
            <img src="/images/icon_red.svg" alt="{{i18n.alt_extIcon}}"/>
        </div>
        <div>
            <h3>{{extensionName}}</h3>
            <p>{{i18n.txt_version}} {{version}}</p>
        </div>
    </div>
    <div class="about-extension__additional-container">
        <div>
            <a
                href="{{githubUrl}}"
                target="_blank"
                rel="noopener noreferrer"
            >
                <img class="about-extension__source-img" src="../images/GitHub-Mark-64px.png" alt="{{githubUrl}}"/>
            </a>
        </div>
    </div>
</div>
