<form id="find-bookmarks">
    <button class="mdc-button mdc-button--raised" type="submit">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__touch"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
        <span class="mdc-button__label">{{i18n.btn_findDuplicates}}</span>
    </button>

    <label class="mdc-text-field mdc-text-field--outlined">
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="my-label-id">{{i18n.input_hint_ignoredUrlRegex}}</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input
            type="text"
            class="mdc-text-field__input"
            aria-labelledby="my-label-id"
            name="ignoredUrls"
            value=""
        />
    </label>
</form>

<div id="search-results">
    <!-- Mustache template with search results will be rendered here -->
</div>

<aside class="mdc-snackbar">
    <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
        <div class="mdc-snackbar__label" aria-atomic="false">
            {{i18n.bookmarksDeletedMsg}}
        </div>
    </div>
</aside>

<div class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface"
            role="alertdialog"
            aria-modal="true"
            aria-labelledby="my-dialog-title"
            aria-describedby="my-dialog-content"
        >
            <div class="mdc-dialog__title" id="my-dialog-content">
                {{i18n.bookmarksDeleteConfirmationTitle}}
            </div>
            <div class="mdc-dialog__content">{{i18n.bookmarksDeleteConfirmation}}</div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">{{i18n.btn_cancel}}</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="confirm">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">{{i18n.btn_delete}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
